body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
    /* transition: all 1s; */
}

.screen {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background: #000;
    transition: all 0.8s;
}

.term {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background: transparent;
    outline: none;
    outline-style: none;
    border: 0;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;    
    height: 100%;
    color: white;
    resize: none;
    line-height: 1.5;
}

#splash {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 34vh;
    color: #fff;
    text-align: center;    
    font-size: 2em;
    background-position: center;
    text-shadow: 0px 0px 10px #fff;
    opacity: 0;
    transition: opacity 0.8s ease;
}

#splash:after {
    content: '';
    color: #fff;
    letter-spacing: 0.25em;
    font-size: 1.5em;
    position: relative;
    top: -76px;
    left: 10px;
    animation: loader 3s ease 0s infinite;
}

@keyframes loader {
    0% { opacity: 0.25; content: '.  '; }
    33% { opacity: 0.80; content: '.  ' }
    66% { opacity: 0.25; content: '.. ' }
    100% { opacity: 0.80; content: '...' }
}

#desktop {
    opacity: 0;    
    transition: opacity 1 ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;    
}

#clock {    
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: small;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.75);
    user-select: none;    
}

#taskbar {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0px;
    background: linear-gradient(transparent, rgba(0,0,0,0.35));
    box-shadow: -1px -1px 10px rgba(0,0,0,0.45);
    backdrop-filter: blur(5px);
    transition: height 1s ease-in 1s;
    transition: backdrop-filter 0.3s;
}

#taskbar:hover {    
    backdrop-filter: blur(10px);
}

.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.icon img {
    background-position: center;
    border: 0;
    border-radius: 100%;
    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto;
    margin-top: 7px;
    transition: box-shadow 0.3s ease;
}

.icon img:hover {
    box-shadow: 0px 0px 20px rgba(255,255,255,0.45);
}

.folder {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: none;
    background: rgba(0,0,0,0.25);
    border-radius: 18px;
    margin: 3em;
    color: white;
    padding: 10px;
    font-size: small;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.folder:hover {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    zoom: 1.5;
    box-shadow: inset 0px 0px 200px rgba(0,0,0,1);
}

.folder .icon {
    display: block;
    float: left;
    zoom: 0.65;
}